/*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* text-align: inherit; */
}

.menu, 
.quiz, 
.score {
    width: 700px;
    height: 700px;
    background: hsl(229, 32%, 12%);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.menu button, 
.quiz button, 
.score button {
    display: block;
    width: 300px;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    outline: none;
    cursor: pointer;
    /* box-shadow: 0 0 10px 5px hsl(356, 66%, 75%); */
    border: none;
    margin: 10px;
    border-radius: 5px;
    background: hsl(356, 66%, 75%);
    color: #fff;
    transition: all .4ms ease;
}

.menu button:active, 
.menu button:hover, 
.quiz button:active, 
.score button:active {
    background-color: orange;
    box-shadow: 0 0 10px 5px peru;
    color: #fff;
    font-weight: 500;
    border: none;
}